body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ececec;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#game-settings {
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #101810;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #56985a;
}

#turn-display,
#winner-display {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.hidden {
    display: none;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cell:hover {
    background-color: #f1f1f1;
}

.cell:active {
    background-color: #e0e0e0;
}

.highlight {
    background-color: #90ee90;
}

#winning-line {
    position: absolute;
    width: 6px;
    height: 300px;
    background-color: red;
    transform-origin: center center;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 3px;
}

.horizontal {
    height: 6px;
    width: 300px;
}

.vertical {
    width: 6px;
    height: 300px;
}

.diagonal {
    width: 300px;
    height: 6px;
}
